* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    gap: 5px;
    border: 50px solid rgb(143, 44, 44);
    border-radius: 20px;
    background-color: rgb(100, 100, 100);
    color: rgb(216, 248, 255);
    margin: 50;
    padding: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    gap: 5px;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(80, 74, 74);
    border-radius: 2px;
}

.box {
    box-sizing: border-box;
    flex-shrink: 1;
}